/* HTML tags */
body {
  background-image : url("../img/bg-gradient.png"), url("../img/bg-curve.svg");
  background-repeat: no-repeat;
  background-size  : cover auto;
  background-color : #252B42;
  color            : #fff;
}
/* Imports Roboto font */
@font-face {
  font-family: 'roboto';
  src        : url("../fonts/roboto/Roboto-Regular.ttf");
}

h1 {
  font-family   : 'roboto', sans-serif;
  font-style    : normal;
  font-weight   : 900;
  font-size     : 55px;
  line-height   : 65px;
  letter-spacing: .2px;
}

h2 {
  font-family   : 'roboto', sans-serif;
  font-style    : normal;
  font-weight   : normal;
  font-size     : 46px;
  line-height   : 57px;
  letter-spacing: .2px;
}

h3 {
  font-family   : 'roboto', sans-serif;
  font-style    : normal;
  font-weight   : bold;
  font-size     : 22px;
  line-height   : 33px;
  letter-spacing: .1px;
}

h4 {
  font-family   : 'roboto', sans-serif;
  font-style    : normal;
  font-weight   : bold;
  font-size     : 16px;
  line-height   : 20px;
  letter-spacing: .2px;
}

h5 {
  font-family   : 'roboto', sans-serif;
  font-style    : normal;
  font-weight   : bold;
  font-size     : 12px;
  line-height   : 18px;
  letter-spacing: .1px;
}

p {
  font-family   : 'roboto', sans-serif;
  font-style    : normal;
  font-weight   : normal;
  font-size     : 18px;
  line-height   : 27px;
  letter-spacing: .2px;
}

a {
  font-family   : 'roboto', sans-serif;
  font-style    : normal;
  font-weight   : normal;
  font-size     : 15px;
  line-height   : 27px;
  letter-spacing: .2px;
}

main {
  text-align: center;
  margin-top: 100px;
}

main h2 {
  padding: 17px;
}

main h4 {
  padding      : 0 56px;
  margin-bottom: 30px;
}

main img {}

button {
  font-family   : 'roboto', sans-serif;
  font-style    : normal;
  font-weight   : 500;
  font-size     : 16px;
  line-height   : 16px;
  letter-spacing: .2px;
}

nav {
  font-family   : 'roboto', sans-serif;
  font-style    : normal;
  font-weight   : normal;
  font-size     : 30px;
  line-height   : 45px;
  letter-spacing: .2px;
}

form button {
  background   : #EF2779;
  border-radius: 35px;
}

input {
  background   : #FFFFFF;
  border       : 1px solid #E8E8E8;
  box-sizing   : border-box;
  border-radius: 39px;
}
/* Utilitary selectors */
.pc-content {
  display: none;
}

.try-button {
  background   : #FFFFFF;
  border-radius: 35px;
  width        : 236px;
  height       : 65px;
  color        : #38A3F1;
}
/* Specific selectors */
.navbar-toggle {
  background-color: transparent;
  border          : none;
}