/* HTML tags */
body {
  background-image : url("../img/bg-gradient.png"), url("../img/bg-curve.svg");
  background-repeat: no-repeat;
  background-size  : auto;
  background-color : #252B42;
  color            : #fff;
}
/* Imports Roboto font */
@font-face {
  font-family: 'roboto';
  src        : url("../fonts/roboto/Roboto-Regular.ttf");
}
/* General components attributes */
h1 {
  font-family   : 'roboto', sans-serif;
  font-style    : normal;
  font-weight   : 900;
  font-size     : 55px;
  line-height   : 65px;
  letter-spacing: .2px;
}

h2 {
  font-family   : 'roboto', sans-serif;
  font-style    : normal;
  font-weight   : normal;
  font-size     : 46px;
  line-height   : 57px;
  letter-spacing: .2px;
}

h3 {
  font-family   : 'roboto', sans-serif;
  font-style    : normal;
  font-weight   : bold;
  font-size     : 22px;
  line-height   : 33px;
  letter-spacing: .1px;
}

h4 {
  font-family   : 'roboto', sans-serif;
  font-style    : normal;
  font-weight   : bold;
  font-size     : 16px;
  line-height   : 20px;
  letter-spacing: .2px;
}

h5 {
  font-family   : 'roboto', sans-serif;
  font-style    : normal;
  font-weight   : bold;
  font-size     : 12px;
  line-height   : 18px;
  letter-spacing: .1px;
}

p {
  font-family   : 'roboto', sans-serif;
  font-style    : normal;
  font-weight   : normal;
  font-size     : 18px;
  line-height   : 27px;
  letter-spacing: .2px;
}

a {
  font-family   : 'roboto', sans-serif;
  font-style    : normal;
  font-weight   : normal;
  font-size     : 15px;
  line-height   : 27px;
  letter-spacing: .2px;
}
/* Utilitary selectors */
.pc-content {
  display: none;
}

.try-button {
  border-radius : 35px;
  border        : none;
  width         : 236px;
  height        : 65px;
  font-weight   : bold;
  font-size     : 22px;
  line-height   : 33px;
  letter-spacing: .1px;
}

.b-white-font {
  background: #FFFFFF;
  color     : #38A3F1;
}

.b-blue-font {
  background: #38A3F1;
  color     : #FFF;
}

.header {
  text-align: center;
  padding   : 64px 45px 88px;
}

.header h2 {
  margin: 17px 0 27px;
}
/* Specific selectors */
/* Navbar */
nav {
  font-family   : 'roboto', sans-serif;
  font-style    : normal;
  font-weight   : normal;
  font-size     : 30px;
  line-height   : 45px;
  letter-spacing: .2px;
}

nav form button {
  background   : #EF2779;
  border-radius: 35px;
}

nav input {
  background   : #FFFFFF;
  border       : 1px solid #E8E8E8;
  box-sizing   : border-box;
  border-radius: 39px;
}

.navbar-toggle {
  background-color: transparent;
  border          : none;
}
/* Main content*/
main {
  text-align   : center;
  margin-top   : 100px;
  margin-bottom: 80px;
}

main h2 {
  padding: 17px;
}

main h4 {
  padding      : 0 56px;
  margin-bottom: 30px;
}

button {
  font-family   : 'roboto', sans-serif;
  font-style    : normal;
  font-weight   : 500;
  font-size     : 16px;
  line-height   : 16px;
  letter-spacing: .2px;
}

label {
  display: none;
}
/* Features */
.features {
  margin-top   : 17px;
  margin-bottom: 100px;
}

.features-content {
  padding-left : 80px;
  padding-right: 80px;
  display      : grid;
  grid-row-gap : 90px;
}

.widget-header {
  display              : grid;
  grid-template-columns: 43px 200px;
  grid-column-gap      : 9px;
}

.features-content p {
  margin-top: 18px;
}
/* Presentation */
.presentation {
  margin-bottom: 85px;
}

.presentation button {
  margin-top: 65px;
}

.presentation-print-screen {
  text-align: center;
}
/* Newsletter */
.newsletter {
  margin-bottom: 114px;
}

.newsletter h2 {
  margin-bottom: 0;
}

.subscribe-form {
  margin-top : 0;
  text-align : center;
  font-weight: bold;
}

.subscribe-form input {
  display         : block;
  background-color: #EF2779;
  border-radius   : 35px;
  border          : none;
  width           : 350px;
  height          : 54px;
  color           : white;
  margin-top      : 12px;
  margin-left     : auto;
  margin-right    : auto;
  font-weight     : bold;
}

#femail {
  background-color: #fff;
}

::placeholder {
  color     : #18171D;
  text-align: center;
  opacity   : .8;
}
/* Partners */
.partners {
  text-align   : center;
  margin-bottom: 50px;
}

.partner-widget {
  margin-bottom: 50px;
  padding      : 0 100px;
}

.partner-widget img {
  margin: 25px 0;
}

.partners button {
  margin-top: 75px;
}